.form {
  display: grid;
  justify-content: space-around;
  grid-auto-flow: row;
  row-gap: 1em;
}


@media (min-width: 612px) {
  .form {
    grid-auto-flow: column;
  }
}

.label {
  display: grid;
}